.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 11px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px;
}

.button2 {
    padding: 7px 24px;
    margin-top: 16px;
    max-height: 36px;
}

.button1 {
    background-color: #4CAF50;
    color: white;
    margin-top: 100px;
}

.button1:hover,
.buttonCancel:hover {
    background-color: white;
    color: black;
    // border: 2px solid #4CAF50;
}

.buttonCancel {
    background-color: rgb(87, 87, 87);
    color: white;
    // border: 2px solid #4CAF50;
    margin-top: 100px;
}

.form-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 600px;
    margin-top: 50px;
    padding: 50px;
    background-image: linear-gradient(to right, #43434382 0%, transparent 100%);
    border-radius: 20px;
}

form {
    display: flex;
    justify-content: center;
}

.coll {
    text-align: left;


}

select {
    // margin-right: 35px;
    width: 189px;
    font-size: 16px;
    border-radius: 10px;
    padding: 3px;
    outline: none;
}

.btnUpdateContainer {
    display: flex;
    flex-direction: row-reverse;
}

.buttonUpdate {
    background-color: #9f00fff7;
    color: white;
    padding: 8px 13px;
    font-size: 14px;
}

.buttonUpdate:hover {
    background-color: #e4b7fff7;
    color: black;
    // border: 2px solid #4CAF50;
}

.buttonEnd {
    background-color: #ff0000f7;
    color: white;
    padding: 11px 17px;
    font-size: 14px;
    margin-right: 16px;
}

.buttonEnd:hover {
    background-color: #ff7878f7;
    color: black;
    // border: 2px solid #4CAF50;
}

.error {
    color: red;
    font-size: 10px;
    margin: 5px;
}