
.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 11px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px;
}

.button2 {
    padding: 5px 24px;
    margin-bottom: -14px;
    max-height: 36px;
}

.button1 {
    background-color: #4CAF50;
    color: white;
    // 
}

.button1:hover,
.buttonCancel:hover {
    background-color: white;
    color: black;
    // border: 2px solid #4CAF50;
}

.buttonCancel {
    background-color: rgb(87, 87, 87);
    color: white;
    // border: 2px solid #4CAF50;
}

.form-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 39%;
}

form {
    display: flex;
    justify-content: center;
}

.coll {
    text-align: left;


}

select {
    // margin-right: 35px;
    width: 189px;
    font-size: 16px;
    border-radius: 10px;
    padding: 3px;
    outline: none;
}

.btnUpdateContainer {
    display: flex;
    flex-direction: row-reverse;
}

.buttonUpdate {
    background-color: #9f00fff7;
    color: white;
    padding: 8px;
    font-size: 13px;
}

.buttonUpdate:hover {
    background-color: #e4b7fff7;
    color: black;
    // border: 2px solid #4CAF50;
}

.error {
    color: red;
    font-size: 10px;
    margin: 5px;
}