$gray300: #D2D2D2;
$gray500: #6E6E6E;
$gray700: #212121;
$gray900: #0F0F0F;
$blue: #29BDDE;
$lightBlue: #31A49B;
$red: #FF3D3D;
$border-radius: 4px;
$lightGreen: #507450;
$green: #29502C;
$darkRed: #BE2C2C;
$space-size: 8px;
$space-size-2: $space-size * 2;
$space-size-3: $space-size * 3;
$space-size-4: $space-size * 4;
$space-size-5: $space-size * 5;
$space-size-6: $space-size * 6;



$white: $gray300;
$secondaryTextColor: $gray500;
$black: $gray900;
$bodyBg: $gray700;
$borderColor: $gray700;
$primaryColor: $blue;

.text-danger {
    color: $red;
}

.label {
    font-size: 9px;
    text-transform: uppercase;
    color: $secondaryTextColor;
    font-weight: 700;
    letter-spacing: 0.095em;
    margin-bottom: $space-size / 2;
}

.mb-05 {
    margin-bottom: $space-size / 2;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-1 {
    margin-bottom: $space-size;
}

.mt-1 {
    margin-top: $space-size;
}

.mt-2 {
    margin-top: $space-size-2;
}

.ml-1 {
    margin-left: $space-size;
}

.ml-2 {
    margin-left: $space-size-2;
}

.ml-3 {
    margin-left: $space-size-3;
}

.ml-4 {
    margin-left: $space-size-4;
}

.ml-5 {
    margin-left: $space-size-5;
}

.mr-1 {
    margin-right: $space-size;
}

.mr-2 {
    margin-right: $space-size-2;
}

.mr-3 {
    margin-right: $space-size-3;
}

.mr-4 {
    margin-right: $space-size-4;
}

.mr-5 {
    margin-right: $space-size-5;
}




.popup-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000000000000;
    background-color: #1212129e;
}

.popup-wrapper {

    background-position: bottom;
    margin: 0px 23px;
    height: 208px;
    border-radius: 20px;
    display: flex;
    color: black;
    flex-direction: column;
    backdrop-filter: blur(5px);
    // box-shadow: 0px 0px 6px rgb(248 0 0 / 51%);
    background-color: white;
    width: 517PX;

    p {
        font-size: 26px;
        text-align: center;
        padding: 20px;
        font-weight: 600;
    }

    .submit-btn {
        text-align: end;
        margin: 12px 15px 0;
        font-size: 20px;
        border: none;
        background-color: white;
        cursor: pointer;
        margin-left: auto;
    }

    .Plus {
        margin: 0 10px;
        background: #a900ff;
        border: none;
        border-radius: 57%;
        padding: 2px;
        font-size: 18px;
        width: 24px;
        cursor: pointer;
    }
}

.emptyspace {
    width: 46px;
}

.btnContainer {
    display: flex;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

.scoreboard {
    background: $black;
    margin-bottom: $space-size;
    border-radius: $border-radius;
    // min-height: 200px;
    &__container {
        padding: $space-size-2;
    }

    &__result {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .scoreboard__result-home,
    .scoreboard__result-away,
    .scoreboard__result-separator {
        font-size: 26px;
    }

    .scoreboard__result-separator {
        margin: 0 $space-size;
        color: $secondaryTextColor;
    }

    &__badge {
        width: 38px;
        height: 38px;

        img {
            height: 71% !important;
            width: 38px !important;
            margin-top: 4px;
        }
    }

    &__teams {
        display: flex;
        justify-content: center;
    }

    &__team {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-grow: 1;

        &--align-right {
            flex-direction: row-reverse;

            .scoreboard__name {
                text-align: right;
            }
        }

        &--align-left {
            .scoreboard__name {
                text-align: left;
            }
        }
    }

    &__name {
        display: block;
        width: 190px;
    }

    &__nav {
        border-top: 1px solid $borderColor;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 $space-size-2;
        margin: 0;
    }

    &__nav-el {
        list-style: none;

        &.is-active {
            a {
                color: $primaryColor;
                position: relative;

                &:after {
                    display: block;
                    height: 2px;
                    width: 100%;
                    content: "";
                    background: $primaryColor;
                    border-top-left-radius: $border-radius / 2;
                    border-top-right-radius: $border-radius / 2;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }

        a {
            padding: $space-size-2 + $space-size / 2 $space-size-2;
            color: $secondaryTextColor;
            text-decoration: none;
            display: block;
            line-height: 0;
        }
    }

    &__basics {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
